For the additional requirement to this project, we decided to make the graph more user-friendly than the basic requirements. To do this, we added labels to the X and Y axes (for the bar and line graphs), made the whole canvas resizable, added a hover feature that displays the value associated with the label, and gave the segments of the pie graph different colors to make the categories more distinct. We also implemented an animation override feature. By double-clicking on any transition button, the user can skip the animation to see the final graph instantly.   